@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: share;
}

:root {
  --nav-height: 10vh;
  --nav-background: #ccc;
}

nav {
  display: flex;
  padding: 0 50px;
  align-items: center;
  width: 100%;
  height: var(--nav-height);
  background: var(--nav-background);
  position: fixed;
  top: 0;
  z-index: 2;
}

.logo h1 {
  //  font-size: 50px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #F8F3D4;
}
.logo h1:hover{
  color: #392F2F;
}

a{
  text-decoration: none;
}


/* nav-links */

.nav-links {
  display: flex;
  height: var(--nav-height);
  align-items: center;
  margin-left: auto;
}

.nav-links li {
  list-style: none;
  margin: 0 15px;
  height: var(--nav-height);
  line-height: var(--nav-height);
  text-align: center;
}


.nav-links li a {
  font-size: 20px;
  
  color: #F8F3D4;
  position: relative;
}
.nav-links li a:hover{
  color: #392F2F;
}

/* menu */

.menu {
  cursor: pointer;
  background: var(--nav-background);
  border: none;
  outline: none;
  display: none;
}

.menu .bar {
  width: 20px;
  height: 2px;
  background: #000;
  border-radius: 5px;
  opacity: 1;
  visibility: visible;
  transition: 0.5s ease;
  transform-origin: left;
}

.menu .bar1 {
  margin-bottom: 5px;
}

.menu .bar3 {
  margin-top: 5px;
}

.menu.toggle .bar1 {
  transform-origin: left;
  transform: rotate(45deg);
}

.menu.toggle .bar2 {
  opacity: 0;
  visibility: hidden;
}

.menu.toggle .bar3 {
  transform-origin: left;
  transform: rotate(-45deg);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --nav-height: 10vh;
  --nav-background: #651B1B;
}

nav {
  display: flex;
  padding: 0 50px;
  align-items: center;
  width: 100%;
  height: var(--nav-height);
  background: var(--nav-background);
}

.logo h1 {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* nav-links */

.nav-links {
  display: flex;
  height: var(--nav-height);
  align-items: center;
  margin-left: auto;
}

.nav-links li {
  list-style: none;
  margin: 0 15px;
  height: var(--nav-height);
  line-height: var(--nav-height);
  text-align: center;
}

.nav-links li a {
  
  color: #F8F3D4;
  position: relative;
}

/* menu */

.menu {
  cursor: pointer;
  background: var(--nav-background);
  border: none;
  outline: none;
  display: none;
}

.menu .bar {
  width: 20px;
  height: 2px;
  // background: #000;
  border-radius: 5px;
  opacity: 1;
  visibility: visible;
  transition: 0.5s ease;
  transform-origin: left;
  background-color: #F2D6C7;
  
}

.menu .bar1 {
  margin-bottom: 5px;
}

.menu .bar3 {
  margin-top: 5px;
}

.menu.toggle .bar1 {
  transform-origin: left;
  transform: rotate(45deg);
  
}

.menu.toggle .bar2 {
  opacity: 0;
  visibility: hidden;
}

.menu.toggle .bar3 {
  transform-origin: left;
  transform: rotate(-45deg);
}

/* responsive */

@media screen and (max-width: 700px) {
  .nav-links {
       flex-direction: column;
       position: fixed;
       top: 0;
       left: 100%;
       width: 300px;
       height: 100%;
       background: var(--nav-background);
       margin-top: var(--nav-height);
       transition: 0.5s ease-out;
  }
  .nav-links li {
       height: var(--nav-height);
       line-height: var(--nav-height);
       text-align: center;
       width: 100%;
       display: block;
  }
  .menu {
       display: block;
       margin-left: auto;
  }

  .menu.toggle + .nav-links {
       transform: translateX(-100%);
  }
}
.top{
  position:relative;
}
.img-kana{
  display: inline-block;
  // text-align: left;
  margin-left: 0;
  width: 45%;
  position:absolute; 
  bottom:0%; 
  left:0%; 
}
.cloud p{
  font-family: share;
  text-align: left;
  color: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  font-size: 5em;
  z-index:1;
}
.img-big-clound{
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:  50%;
}
.img-small1-clound{
  position:absolute;
  top: 10%;
  left: 20%;
  margin-top: 30px;
  width: 20%;
}
.img-small2-clound{
  position: absolute;
  top: 70%;
  left: 75%;
  width: 20%;
}
.flexbox {
    text-align: center;
    height : 400px;
    
}
div.intro {
    display: flex;
    color: #F8F3D4;
    font-size: 25px;
    text-align: left;
    height : 200px;
    width : 1200px;
    background-color: #59A985;
    margin-left: auto;  /* 【ポイント】*/
    margin-right: auto; /* 【ポイント】*/
    margin : 10px auto
}
body {
    font-family: 'Wendy One', Times, serif;
    margin: 0px;
}
.animate-title {
    color: #000;
    font-size: 50px;
    text-align: left;
    margin-left: 2em;
}
.about{
  font-size: 30px;
  text-align: center; 
  //position: absolute;
  // top: 50%;
  margin-top: 3%;
  margin-left: 30%;
  vertical-align: middle; 
  // transform: translate(-50%, -50%);
  // margin: 0;
  // padding: 0;
  margin-right: auto;
  margin-left: auto;
}

.about li{
  font-size: 20px;
  text-align: center; 
}
.box-cv{
  margin-top: 8%;
}
a.cv{
  background-color: #651B1B;
  width: 20%;
  margin: 10% auto;
  color: #F2D6C7;
  text-decoration: none;
  border-radius: 30px;
  padding: 10px 20px;
}
a.cv:hover{
  background-color: #F2D6C7;
  color: #651B1B;
}



.box{
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 5px;
  row-gap: 1em;
  width: 80%;
  margin: 50px auto 50px auto;
}
@media screen and (max-width:768px) {
	/* 481px以上に適用されるCSS（タブレット用） */
  .box{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(2, 50%);
    column-gap: 5px;
    row-gap: 1em;
    width: 80%;
    margin: 10% auto;
  }
}

@media screen and (max-width:480px) {
  /* 480px以下に適用されるCSS（スマホ用） */
  .box{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 5px;
    row-gap: 1em;
    width: 80%;
    margin: 30px auto 50px auto;
  }
}



.img-work1 {
   width: 30%;
}
.img-work2 {
  width: 90%;
  border: #000;
  vertical-align: middle;
}

.img-work{
  width: 90%;
  margin: 10px;
}

.prefecture-container{
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
}
a.prefecture{
  //text-align: center;
  font-size:25px;
//   color: #F8F3D4;
}
a.prefecture:hover{
  color: #392F2F; 
  
}

.enjoy-boxes{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.enjoy-boxes> *{
  min-width: 8%;
  background: #fff;
  font-size: 64px;
  width        : 300px;
  height       : 300px;
  margin:  10px;   
  display:table-cell;
  vertical-align:middle;
  background-color: #651B1B;
}



.laptop-solid.icon {
  color: #fff;
  position: absolute;
  margin-left: 4px;
  margin-top: 3px;
  width: 12px;
  height: 8px;
  border-radius: 2px;
  border: solid 1px currentColor;
  background-color: currentColor;
}

.laptop-solid.icon:before {
  content: '';
  position: absolute;
  left: -4px;
  bottom: -5px;
  width: 18px;
  height: 1px;
  border-radius: 0 0 2px 2px;
  border: solid 1px currentColor;
  background-color: currentColor;
}
h1.animate-title{
  text-align: center;
  position: relative;
  display: inline-block;
  margin: auto;
  margin-bottom: 3%;
}
.animate-title:before {
  content: '';
  position: absolute;
  bottom: -15px;
  display: inline-block;
  width: 60px;
  height: 5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: black;
  border-radius: 2px;
  margin: auto;
}

.skill-box> *{
  margin: auto;
  // min-width: 8%;
 
  width        : 350px;
  height       : 300px;
  // text-align: center;
  background-color: #651B1B;
  justify-content: space-evenly; 
}


p.skill{
  color: #fff;
  font-size: 20px;
  font-size: 30px;
  text-align: center;
  margin-top: 10px;
}

// .skill-box{
//   list-style: none;
//   display: grid;
//   grid-gap: 5px;
//   grid-template-columns: repeat(3, 30%);
//   column-gap: 5px;
//   row-gap: 1em;
//   width: 80%;
//   margin: 50px auto 50px auto;
//   position: relative;
//   flex-direction: row;
//   justify-content: space-evenly; 
//   list-style: none;
//   display: flex;
// }

.skill-box{
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 5px;
  row-gap: 1em;
  width: 80%;
  margin: 50px auto;
  list-style: none;
}
@media screen and (max-width:768px) {
	/* 481px以上に適用されるCSS（タブレット用） */
  .skill-box{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 5px;
    row-gap: 1em;
    width: 80%;
    margin: 50px auto 50px auto;
    
    list-style: none;
  }
}




// .skill-box{
//   display: flex;
//   position: relative;
//   flex-direction: row;
//   justify-content: space-evenly; 
//   list-style: none;
// }

thead,
tbody {
    color: #fff;
}
table {
  margin:  auto;
  margin-top: 20px;
  border-collapse: collapse;
  letter-spacing: 1px;
  font-family: sans-serif;
  font-size: 15px;
}

.skills>p , .work>p, .contact>p{
  margin-top: 20px;
  
}
section.work {
  height: 120vh;
}
@media screen and (max-width:768px){
	/* 481px以上に適用されるCSS（タブレット用） */
  section.work {
    height: 120vh;
  }
  section.skills {
    height: 160vh;
  }
}

@media screen and (max-width:480px){
  section.work {
    height: 260vh;
  }
  section.skills {
    height: 180vh;
  }
  
}





section{
    text-align: center;
    position: relative;
    padding-top: 20px;
    height: 100vh;
}
section:nth-child(2) {
    background-color: #F2D6C7;
}
section:nth-child(3) {
    background-color: #F8F3D4;
}
section:nth-child(4) {
    background-color: #F2D6C7;
}
section:nth-child(5) {
    background-color: #F8F3D4;
}
section:nth-child(6) {
    background-color: #F2D6C7;
}    
section:nth-child(7) {
    background-color: #F8F3D4;
}
section:nth-child(8) {
    background-color: #F2D6C7;
}

ul.items {
    display: flex;
}

// .item {
//   display: block;
//     justify-content: space-evenly;
//     height: 600px;
//     width: 500px;
//     margin: auto;
//     background-color: #59A985;
//     // border-radius: 10%;
// } 

/************************************
** お問い合わせフォームの入力
************************************/
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
 
}

/* Style the submit button with a specific background color etc */
 input[type=submit] {
  background-color: #651B1B;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 50%;
}
 input[type=submit] {
  text-align: center;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #F8F3D4; 
}
input[type=text],textarea  {
  width: 100%;
}

/* Add a background color and some padding around the form */
.container {
  width: 80%;
  margin: 20px auto auto auto;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
form {
 text-align: left;
 width: 80%;
 margin: auto;
}

footer {
  width: 100%;
  height: 100px;
  text-align: center;
  
  // display: table;
  background-color: #651B1B;
}

ul.sns{
  align-items: center;
  display: flex;
  list-style: none;
  display: flex;
	justify-content: center;
  padding-top: 5px;
}
li.sns{
  text-align: center;
  width: 50px;
}
.fa-linkedin, .fa-github{
  color:#F8F3D4;
  margin: 10px;
}

.footer-text {
  color: #F8F3D4;
  // display: table-cell;
  vertical-align: middle;
  font-size: small;
}