@charset "UTF-8";
/************************************
** For all components
************************************/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: share;
}

a {
  text-decoration: none;
}

.animate-title {
  color: #000;
  font-size: 50px;
  text-align: left;
  margin-left: 2em;
}

:root {
  --nav-height: 10vh;
  --nav-background: #651B1B;
}

#skills > p, #work > p, #contact > p {
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  /* 481px以上に適用されるCSS（タブレット用） */
  section#work {
    height: 120vh;
  }
  section#skills {
    height: 160vh;
  }
}

@media screen and (max-width: 480px) {
  section#work {
    height: 260vh;
  }
  section#skills {
    height: 180vh;
  }
}

section {
  text-align: center;
  position: relative;
  padding-top: 20px;
  height: 100vh;
}

section:nth-child(2),
section:nth-child(4),
section:nth-child(6),
section:nth-child(8) {
  background-color: #F2D6C7;
}

section:nth-child(3),
section:nth-child(5),
section:nth-child(7) {
  background-color: #F8F3D4;
}

h1.animate-title {
  text-align: center;
  position: relative;
  display: inline-block;
  margin: auto;
  margin-bottom: 3%;
  -webkit-animation: slideIn 1s cubic-bezier(0.25, 1, 0.5, 1) 1 forwards;
          animation: slideIn 1s cubic-bezier(0.25, 1, 0.5, 1) 1 forwards;
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: translateX(180px);
            transform: translateX(180px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  40%, 100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    -webkit-transform: translateX(180px);
            transform: translateX(180px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  40%, 100% {
    opacity: 1;
  }
}

.animate-title:before {
  content: '';
  position: absolute;
  bottom: -15px;
  display: inline-block;
  width: 60px;
  height: 5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: black;
  border-radius: 2px;
  margin: auto;
}

/******************
      Header
******************/
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: var(--nav-height);
  background: var(--nav-background);
  position: fixed;
  top: 0;
  z-index: 2;
}

.logo h1 {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #F8F3D4;
}

.logo h1:hover {
  color: #392F2F;
}

/* nav-links */
.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: var(--nav-height);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.nav-links li {
  list-style: none;
  margin: 0 15px;
  height: var(--nav-height);
  line-height: var(--nav-height);
  text-align: center;
}

.nav-links li a {
  font-size: 20px;
  color: #F8F3D4;
  position: relative;
}

.nav-links li a:hover {
  color: #392F2F;
}

/* menu */
.menu {
  cursor: pointer;
  background: var(--nav-background);
  border: none;
  outline: none;
  display: none;
}

.menu .bar {
  width: 20px;
  height: 2px;
  background: #000;
  border-radius: 5px;
  opacity: 1;
  visibility: visible;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.menu.toggle .bar1 {
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu.toggle .bar2 {
  opacity: 0;
  visibility: hidden;
}

.menu.toggle .bar3 {
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

/* nav-links */
.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: var(--nav-height);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.nav-links li {
  list-style: none;
  margin: 0 15px;
  height: var(--nav-height);
  line-height: var(--nav-height);
  text-align: center;
}

.nav-links li a {
  color: #F8F3D4;
  position: relative;
}

/* menu */
.menu {
  cursor: pointer;
  background: var(--nav-background);
  border: none;
  outline: none;
  display: none;
}

.menu .bar {
  width: 20px;
  height: 2px;
  border-radius: 5px;
  opacity: 1;
  visibility: visible;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-transform-origin: left;
          transform-origin: left;
  background-color: #F2D6C7;
}

.menu .bar1 {
  margin-bottom: 5px;
}

.menu .bar3 {
  margin-top: 5px;
}

.menu.toggle .bar1 {
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu.toggle .bar2 {
  opacity: 0;
  visibility: hidden;
}

.menu.toggle .bar3 {
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

/* responsive */
@media screen and (max-width: 700px) {
  .nav-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    top: 0;
    left: 100%;
    width: 300px;
    height: 100%;
    background: var(--nav-background);
    margin-top: var(--nav-height);
    -webkit-transition: 0.5s ease-out;
    transition: 0.5s ease-out;
  }
  .nav-links li {
    height: var(--nav-height);
    line-height: var(--nav-height);
    text-align: center;
    width: 100%;
    display: block;
  }
  .menu {
    display: block;
    margin-left: auto;
  }
  .menu.toggle + .nav-links {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

/***************
　　 top
****************/
.top section {
  position: relative;
}

/* CSSアニメーションの設定 */
@-webkit-keyframes slidein {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}
@keyframes slidein {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

.img-kana {
  display: inline-block;
  margin-left: 0;
  width: 45%;
  position: absolute;
  bottom: 0%;
  left: 0%;
}

.intro1 {
  -webkit-animation: SlideIn 1.0s ease-in-out .5s;
          animation: SlideIn 1.0s ease-in-out .5s;
  font-family: share;
  text-align: left;
  color: #000;
  position: absolute;
  top: 40%;
  left: 40%;
  margin: 0;
  padding: 0;
  font-size: 5em;
  z-index: 1;
}

.intro2 {
  -webkit-animation: SlideIn 1.8s ease-in-out .5s;
          animation: SlideIn 1.8s ease-in-out .5s;
  font-family: share;
  text-align: left;
  color: #000;
  position: absolute;
  top: 50%;
  left: 40%;
  margin: 0;
  padding: 0;
  font-size: 5em;
  z-index: 1;
}

@-webkit-keyframes SlideIn {
  0% {
    opacity: 0;
    /*初期状態では透明に*/
    -webkit-transform: translateX(64px);
            transform: translateX(64px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes SlideIn {
  0% {
    opacity: 0;
    /*初期状態では透明に*/
    -webkit-transform: translateX(64px);
            transform: translateX(64px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.img-big-clound {
  position: absolute;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 50%;
}

.img-small1-clound {
  position: absolute;
  top: 10%;
  left: 20%;
  margin-top: 30px;
  width: 20%;
}

.img-small2-clound {
  position: absolute;
  top: 70%;
  left: 75%;
  width: 20%;
}

.flexbox {
  text-align: center;
  height: 400px;
}

a.scroll {
  padding-top: 70px;
  position: absolute;
  top: 70%;
  left: 50%;
  color: #000;
  font-size: medium;
}

span.scroll, cloud > a {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb 2s infinite;
  animation: sdb 2s infinite;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 480px) {
  /* 480px以下に適用されるCSS（スマホ用） */
  span.scroll, cloud > a {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb 2s infinite;
    animation: sdb 2s infinite;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

@-webkit-keyframes sdb {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}

@keyframes sdb {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
            transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
            transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
            transform: rotate(-45deg) translate(0, 0);
  }
}

/***************
　　 about
****************/
.about {
  font-size: 30px;
  text-align: center;
  margin-top: 3%;
  margin-left: 30%;
  vertical-align: middle;
  margin-right: auto;
  margin-left: auto;
}

.about li {
  font-size: 20px;
  text-align: center;
}

.box-cv {
  margin-top: 8%;
}

a.cv {
  background-color: #651B1B;
  width: 20%;
  margin: 10% auto;
  color: #F2D6C7;
  text-decoration: none;
  border-radius: 30px;
  padding: 10px 20px;
}

a.cv:hover {
  background-color: #F2D6C7;
  color: #651B1B;
}

.box {
  display: -ms-grid;
  display: grid;
  grid-gap: 5px;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 5px;
          column-gap: 5px;
  row-gap: 1em;
  width: 80%;
  margin: 50px auto 50px auto;
}

@media screen and (max-width: 768px) {
  /* 481px以上に適用されるCSS（タブレット用） */
  .box {
    display: -ms-grid;
    display: grid;
    grid-gap: 5px;
    -ms-grid-columns: (50%)[2];
        grid-template-columns: repeat(2, 50%);
    -webkit-column-gap: 5px;
            column-gap: 5px;
    row-gap: 1em;
    width: 80%;
    margin: 10% auto;
  }
}

@media screen and (max-width: 480px) {
  /* 480px以下に適用されるCSS（スマホ用） */
  .box {
    display: -ms-grid;
    display: grid;
    grid-gap: 5px;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -webkit-column-gap: 5px;
            column-gap: 5px;
    row-gap: 1em;
    width: 80%;
    margin: 30px auto 50px auto;
  }
}

/***************
　　projects
****************/
.img-work1 {
  width: 90%;
}

.img-work2 {
  width: 90%;
  border: #000;
  vertical-align: middle;
}

.img-work {
  width: 90%;
  margin: 10px;
}

/***************
　　 skills
****************/
.skill-box {
  display: -ms-grid;
  display: grid;
  grid-gap: 5px;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 5px;
          column-gap: 5px;
  row-gap: 1em;
  width: 80%;
  margin: 50px auto;
  list-style: none;
}

.skill-box > * {
  margin: auto;
  width: 350px;
  height: 300px;
  background-color: #651B1B;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

p.skill {
  color: #fff;
  font-size: 20px;
  font-size: 30px;
  text-align: center;
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  /* 481px以上に適用されるCSS（タブレット用） */
  .skill-box {
    display: -ms-grid;
    display: grid;
    grid-gap: 5px;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -webkit-column-gap: 5px;
            column-gap: 5px;
    row-gap: 1em;
    width: 80%;
    margin: 50px auto 50px auto;
    list-style: none;
  }
}

thead,
tbody {
  color: #fff;
}

table {
  margin: auto;
  margin-top: 20px;
  border-collapse: collapse;
  letter-spacing: 1px;
  font-family: sans-serif;
  font-size: 15px;
}

ul.items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/************************************
   お問い合わせフォームの入力
************************************/
input[type=text], select, textarea {
  width: 100%;
  /* Full width */
  padding: 12px;
  /* Some padding */
  border: 1px solid #ccc;
  /* Gray border */
  border-radius: 4px;
  /* Rounded borders */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* Make sure that padding and width stays in place */
  margin-top: 6px;
  /* Add a top margin */
  margin-bottom: 16px;
  /* Bottom margin */
  resize: vertical;
}

input[type=submit] {
  background-color: #651B1B;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 50%;
}

input[type=submit] {
  text-align: center;
}

input[type=submit]:hover {
  background-color: #F8F3D4;
}

input[type=text], textarea {
  width: 100%;
}

.container {
  width: 80%;
  margin: 20px auto auto auto;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

form {
  text-align: left;
  width: 80%;
  margin: auto;
}

/***************
　　 footer
****************/
footer {
  width: 100%;
  height: 100px;
  text-align: center;
  background-color: #651B1B;
}

ul.sns {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 5px;
}

li.sns {
  text-align: center;
  width: 50px;
}

.fa-linkedin, .fa-github {
  color: #F8F3D4;
  margin: 10px;
}

.footer-text {
  color: #F8F3D4;
  vertical-align: middle;
  font-size: small;
}
/*# sourceMappingURL=style.css.map */